$prefix: "animate__";

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
}

.#{$prefix}animated {
  animation-duration: var(--animate-duration);
  animation-delay: var(--animate-delay);
  animation-fill-mode: both;

  @media print, (prefers-reduced-motion: reduce) {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;

    &[class*="Out"] {
      opacity: 0;
    }
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-0.5rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.#{$prefix}fadeInLeft {
  animation-name: fadeInLeft;
}
