.section-divider {
  position: relative;
  height: min(25svh, 15rem);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: var(--du-color-border);
    transform: translate3d(-50%, 0, 0);
    z-index: -1;
  }
}

@keyframes GrowSectionDivider {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animate__GrowSectionDivider {
  &::after {
    animation-duration: var(--animate-duration);
    animation-delay: 500ms;
    animation-fill-mode: both;
    animation-name: GrowSectionDivider;
  }
}
