@use "duecss/abstracts/breakpoints";

.footer-container {
  display: grid;
  grid-template-columns: 1fr auto;
  border-top: 1px solid;
  padding-top: var(--du-space-m);

  @include breakpoints.media-below(sm) {
    .footer-links {
      grid-row: 2;
    }
  }

  @include breakpoints.media-above(sm) {
    grid-template-columns: 1fr repeat(2, auto);
    gap: var(--du-space-m);
  }
}
