@layer components {
  .image-zoom {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    cursor: zoom-out;
    background: oklch(0% 0 0 / 50%);
    backdrop-filter: blur(8px);
  }

  .image-zoom > img {
    max-height: 100%;
    max-width: 100%;
  }
}
