.animate-marquee {
  animation: marquee var(--duration, 50s) linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap, 1rem)));
  }
}
