// Basic masonry styles - same as for the image grid
.grid-masonry {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--masonry-max-width, 25rem), 100%), 1fr)
  );
  grid-template-rows: masonry;
  justify-content: center;
  gap: var(--masonry-gap, var(--du-spacer));

  > * {
    align-self: start;
  }

  // Optionally stretch the first element across the grid
  &[data-stretch-first-element] > :first-child {
    grid-column: 1/ -1;
    max-height: 30vh;
    margin: 0 auto;
  }

  // Make sure the image doesn't overflow or get distorted
  img {
    object-fit: cover;
    max-height: inherit;
  }
}
