@use "duecss/abstracts/breakpoints";

.navbar-link {
  display: inline-flex;
  align-items: center;

  @include breakpoints.media-below(md) {
    border-bottom: 0.2em solid transparent;

    &:focus,
    &:hover,
    &[aria-current] {
      border-bottom-color: currentColor;
    }
  }

  @include breakpoints.media-above(md) {
    padding: 0.2em 0.4em;

    &::before {
      content: "";
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      border: 1px solid var(--du-color-contrast-low);
      margin-right: 0.4em;
    }

    &:focus::before,
    &:hover::before,
    &[aria-current="page"]::before {
      background-color: currentColor;
      border-color: currentColor;
    }
  }
}
