@use "duecss/abstracts/breakpoints";

.navbar-link {
  display: flex;
  align-items: center;

  @include breakpoints.media-below(md) {
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: var(--du-decoration-thickness);
    text-underline-offset: var(--du-decoration-offset);

    &:focus,
    &:hover,
    &[aria-current] {
      text-decoration-color: var(--du-color-primary);
    }
  }

  @include breakpoints.media-above(md) {
    &:hover {
      color: currentColor;
    }

    &::before {
      content: "";
      width: 0.5em;
      height: 0.5em;
      border-radius: 50%;
      background-color: var(--du-color-contrast-lower);
      margin-right: 0.25em;
    }

    &:focus::before,
    &:hover::before {
      background-color: var(--du-color-primary);
    }

    &[aria-current="page"]::before {
      background-color: currentColor;
    }
  }

  @include breakpoints.media-above(lg) {
    &::before {
      margin-right: 0.5em;
    }
  }
}
