.pagination-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration-line: none;

  > :last-child {
    color: var(--color-contrast-low);
    font-size: 1rem;
    font-weight: initial;
  }

  &:hover > :last-child {
    text-decoration-line: underline;
  }

  &[aria-current="page"] {
    color: var(--color-text);

    > :last-child {
      color: var(--color-text);
      text-decoration-line: underline;
    }
  }
}
