@use "duecss/abstracts/breakpoints";
@use "duecss/plugins/typography";

.prose {
  --du-prose-space-y: 1.5;

  :where(figure:not(:first-child)) {
    margin-top: calc(2rem * var(--du-prose-space-y, 1));
  }

  :where(figure:not(:last-child)) {
    margin-bottom: calc(2rem * var(--du-prose-space-y, 1));
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: 700;
    font-family: var(--du-font-family-heading);

    a:not([href^="http"]) {
      color: inherit;
      text-decoration-line: none;
    }
  }

  :where(blockquote) {
    border-left-color: var(--du-color-primary);
    border-left-style: dotted;
    // Keep in line with text indent
    padding-left: 1rem;
  }

  :where(pre) {
    background-color: var(--du-color-contrast-lowest);
  }

  :where(ol, ul) {
    // Keep in line with text indent
    padding-left: 1rem;
  }

  :where(hr) {
    border-bottom: none;
  }

  :where(figure) {
    box-shadow: var(--du-shadow-frame);

    @include breakpoints.media-above(sm) {
      img {
        position: relative;
        z-index: 50;
      }

      &.is-pulled-left,
      &.is-pulled-right {
        width: 45%;
        float: right;
        margin-left: 2rem;
      }
    }

    @include breakpoints.media-above(lg) {
      &.is-pulled-left,
      &.is-pulled-right {
        width: 60%;
      }

      &.is-pulled-left,
      &.is-pulled-right {
        margin-right: calc(-60% - 2rem);
      }

      &.is-outset {
        margin-right: calc(-30% - 2rem);
      }
    }
  }

  :where(figcaption) {
    line-height: calc(var(--du-line-height-normal) * 0.875);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0 3px 0.25rem;
    margin-top: calc(0.25rem + 3px);
    text-align: left;
  }

  :where(details) {
    padding: 0.5rem 1rem;
    margin-left: -1rem;

    &:not([open]) summary {
      margin-bottom: 0;
    }
  }

  :where(summary) {
    font-family: var(--du-font-family-heading);
    font-weight: 500;
  }

  :where(.masonry-grid) {
    --masonry-col-max-w: 30ch;
    gap: 1rem;

    figure {
      margin-top: 0;
    }
  }

  &.is-article {
    :where(p) {
      // font-size: 1.05rem;
      line-height: calc(var(--du-line-height-normal) / 0.875);
    }
  }
}
