@layer components {
  .prose {
    --un-prose-code: var(--un-color-contrast-higher);
    --un-prose-hr: var(--un-color-border);
    --un-prose-bg-soft: var(--un-color-contrast-lowest);
    --un-prose-line-height: var(--un-line-height-normal);
    --un-decoration-color: var(--un-color-primary);
    counter-reset: figure;

    & :where(p, ul, ol, pre):not(:where(.not-prose, .not-prose *)) {
      @media (--below-sm) {
        font-size: 0.875rem;
      }
    }

    & :where(h1):not(:where(.not-prose, .not-prose *)) {
      font-size: var(--un-text-3xl);
      @media (--md) {
        font-size: var(--un-text-4xl);
      }
    }

    & :where(h2):not(:where(.not-prose, .not-prose *)) {
      font-size: var(--un-text-2xl);
      @media (--md) {
        font-size: var(--un-text-3xl);
      }
    }

    & :where(h3):not(:where(.not-prose, .not-prose *)) {
      font-size: var(--un-text-xl);
      @media (--md) {
        font-size: var(--un-text-2xl);
      }
    }

    & :where(h4):not(:where(.not-prose, .not-prose *)) {
      font-size: 1rem;
      @media (--md) {
        font-size: var(--un-text-lg);
      }
    }

    & :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
      font-family: var(--un-font-family-heading);
      line-height: var(--un-line-height-heading);
      scroll-margin-top: 5rem;

      & a:not([href^="http"]) {
        color: inherit;
        text-decoration-line: none;
      }
    }

    &
      :where(
        h1:not(:first-child),
        h2:not(:first-child),
        h3:not(:first-child),
        h4:not(:first-child),
        h5:not(:first-child),
        h6:not(:first-child)
      ):not(:where(.not-prose, .not-prose *)) {
      margin-top: calc(3 * var(--un-prose-space-y, 1rem));
    }

    & :where(blockquote):not(:where(.not-prose, .not-prose *)) {
      position: relative;
      border: none;
      font-size: var(--un-text-lg);
      line-height: var(--un-line-height-dense);
      font-style: italic;
      text-align: center;
      padding: calc(2 * var(--un-prose-space-y)) 2rem;
      quotes: "“" "”";

      &:lang(de) {
        quotes: "„" "“";
      }

      &::before,
      &::after {
        position: absolute;
        font-family: var(--un-font-family-normal);
        font-size: var(--un-text-4xl);
        font-style: normal;
        color: var(--un-color-primary);
        line-height: 1;
      }

      &::before {
        content: open-quote;
        top: 0;
        left: 0;
        transform: translateY(-25%);
      }

      &::after {
        content: close-quote;
        bottom: 0;
        right: 0;
        transform: translateY(25%);
      }

      @media (--md) {
        font-size: var(--un-text-xl);
      }

      & footer {
        font-size: 0.75rem;
        font-weight: 500;
        font-family: var(--un-prose-font-mono);
        line-height: var(--un-line-height-dense);
        font-style: normal;
        margin-top: 0.75rem;
      }
    }

    & :where(pre):not(:where(.not-prose, .not-prose *)) {
      background-color: var(--un-prose-bg-soft);
    }

    & :where(ol, ul):not(:where(.not-prose, .not-prose *)) {
      padding-left: 1rem;
    }

    & :where(hr):not(:where(.not-prose, .not-prose *)) {
      border-bottom: none;
    }

    & :where(figure):not(:where(.not-prose, .not-prose *)) {
      text-align: center;
      margin-right: 0;
      margin-left: 0;
      box-shadow: var(--un-frame-shadow-template) var(--un-color-border);
      counter-increment: figure;

      &:not(:first-child) {
        margin-top: calc(2 * var(--un-prose-space-y));
      }

      &:not(:last-child) {
        margin-bottom: calc(2 * var(--un-prose-space-y));
      }

      @media (--below-sm) {
        margin-left: -1.125rem;
        margin-right: -1.125rem;
      }

      @media (--sm) {
        & img {
          position: relative;
          z-index: 50;
        }

        &.is-pulled-right {
          width: 45%;
          float: right;
          margin-top: 0;
          margin-left: 2rem;
        }
      }

      @media (--lg) {
        &.is-pulled-right {
          width: 50%;
          margin-right: calc(-50% - 2rem);
        }

        &.is-outset {
          margin-right: calc(-25% - 2rem);
        }
      }
    }

    & :where(figcaption):not(:where(.not-prose, .not-prose *)) {
      line-height: var(--un-line-height-dense);
      font-size: 0.75rem;
      font-weight: 500;
      padding: 0 3px 0.25rem;
      margin-top: calc(0.25rem + 3px);
      text-align: left;

      &::before {
        content: "[ FIG. " counter(figure) " ] ";
        font-family: var(--un-font-family-normal);
        font-size: 0.875em;
        color: var(--un-color-contrast-soft);
      }

      @media (--below-sm) {
        margin-left: calc(1.125rem - 3px);
        margin-right: calc(1.125rem - 3px);
      }
    }

    & :where(figure.is-framed):not(:where(.not-prose, .not-prose *)) {
      box-shadow: none;
      border: 1px solid var(--un-color-contrast-low);
      background-color: var(--un-color-contrast-lowest);
      border-radius: 2px;
      padding: 0.5rem;
    }

    & :where(details):not(:where(.not-prose, .not-prose *)) {
      padding: 0.5rem 1rem;
      margin-left: -1rem;
      background-color: unset;

      &:not([open]) summary {
        margin-bottom: 0;
      }
    }

    & :where(summary):not(:where(.not-prose, .not-prose *)) {
      font-family: var(--un-font-family-heading);
      font-weight: 500;
    }

    & :where(.note):not(:where(.not-prose, .not-prose *)) {
      position: relative;
      background-color: var(--un-prose-bg-soft);
      padding: 1.25rem 1rem;

      &::before,
      &::after {
        --_cross-size: 11px;
        --_cross-thickness: 1.5px;
        content: "";
        position: absolute;
        width: var(--_cross-size);
        height: var(--_cross-size);
        background:
          linear-gradient(var(--un-color-primary), var(--un-color-primary))
            center / var(--_cross-thickness) 100% no-repeat,
          linear-gradient(var(--un-color-primary), var(--un-color-primary))
            center / 100% var(--_cross-thickness) no-repeat;
      }

      &::before {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
      }

      &::after {
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
      }

      @media (--sm) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}
