@layer components {
  .prose {
    --un-prose-code: var(--un-color-contrast-higher);
    --un-prose-hr: var(--un-color-border);
    --un-prose-bg-soft: var(--un-color-contrast-lowest);
    --un-prose-line-height: var(--un-line-height-normal);
    --un-decoration-color: var(--un-color-primary);

    & :where(p, ul, ol, pre) {
      @media (--below-sm) {
        font-size: 0.875rem;
      }
    }

    & :where(h1) {
      font-size: var(--un-text-3xl);
      @media (--md) {
        font-size: var(--un-text-4xl);
      }
    }

    & :where(h2) {
      font-size: var(--un-text-2xl);
      @media (--md) {
        font-size: var(--un-text-3xl);
      }
    }

    & :where(h3) {
      font-size: var(--un-text-xl);
      @media (--md) {
        font-size: var(--un-text-2xl);
      }
    }

    & :where(h4) {
      font-size: 1rem;
      @media (--md) {
        font-size: var(--un-text-lg);
      }
    }

    & :where(h1, h2, h3, h4, h5, h6) {
      font-family: var(--un-font-family-heading);
      line-height: var(--un-line-height-heading);
      scroll-margin-top: 5rem;

      & a:not([href^="http"]) {
        color: inherit;
        text-decoration-line: none;
      }
    }

    & :where(blockquote) {
      position: relative;
      border: none;
      font-size: var(--un-text-lg);
      line-height: var(--un-line-height-dense);
      font-style: italic;
      text-align: center;
      padding: calc(2 * var(--un-prose-space-y)) 2rem;
      quotes: "“" "”";

      &:lang(de) {
        quotes: "„" "“";
      }

      &::before,
      &::after {
        position: absolute;
        font-family: var(--un-font-family-normal);
        font-size: var(--un-text-4xl);
        font-style: normal;
        color: var(--un-color-primary);
        line-height: 1;
      }

      &::before {
        content: open-quote;
        top: 0;
        left: 0;
        transform: translateY(-25%);
      }

      &::after {
        content: close-quote;
        bottom: 0;
        right: 0;
        transform: translateY(25%);
      }

      @media (--md) {
        font-size: var(--un-text-xl);
      }

      & footer {
        font-size: 0.75rem;
        font-weight: 500;
        font-family: var(--un-prose-font-mono);
        line-height: var(--un-line-height-dense);
        font-style: normal;
        margin-top: 0.75rem;
      }
    }

    & :where(pre) {
      background-color: var(--un-prose-bg-soft);
    }

    & :where(ol, ul) {
      padding-left: 1rem;
    }

    & :where(hr) {
      border-bottom: none;
    }

    & :where(figure) {
      text-align: center;
      margin-right: 0;
      margin-left: 0;
      box-shadow: var(--un-frame-shadow-template) var(--un-color-border);

      &:not(:first-child) {
        margin-top: calc(2 * var(--un-prose-space-y));
      }

      &:not(:last-child) {
        margin-bottom: calc(2 * var(--un-prose-space-y));
      }

      @media (--below-sm) {
        margin-left: -1.125rem;
        margin-right: -1.125rem;
      }

      @media (--sm) {
        & img {
          position: relative;
          z-index: 50;
        }

        &.is-pulled-right {
          width: 45%;
          float: right;
          margin-top: 0;
          margin-left: 2rem;
        }
      }

      @media (--lg) {
        &.is-pulled-right {
          width: 50%;
          margin-right: calc(-50% - 2rem);
        }

        &.is-outset {
          margin-right: calc(-25% - 2rem);
        }
      }
    }

    & :where(figcaption) {
      line-height: var(--un-line-height-dense);
      font-size: 0.75rem;
      font-weight: 500;
      padding: 0 3px 0.25rem;
      margin-top: calc(0.25rem + 3px);
      text-align: left;

      @media (--below-sm) {
        margin-left: calc(1.125rem - 3px);
        margin-right: calc(1.125rem - 3px);
      }
    }

    & :where(details) {
      padding: 0.5rem 1rem;
      margin-left: -1rem;
      background-color: unset;

      &:not([open]) summary {
        margin-bottom: 0;
      }
    }

    & :where(summary) {
      font-family: var(--un-font-family-heading);
      font-weight: 500;
    }

    & :where(.note) {
      position: relative;
      background-color: var(--un-prose-bg-soft);
      border: 1px solid var(--un-color-border);
      padding: 1rem;
      box-shadow: var(--un-frame-shadow-template) var(--un-color-border);

      &::before {
        content: "";
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        width: 3px;
        background-color: var(--un-color-primary);
      }

      @media (--sm) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}
