KIRBY_DEBUG=true
KIRBY_PANEL_INSTALL=true
KIRBY_CACHE=false
DEEPL_API_KEY=

KIRBY_HEADLESS_API_TOKEN=test

# Content sync (dev only)
SYNC_SERVER=ploi@your-server-ip
SYNC_REMOTE_DIR=/home/ploi/johannschopplich.com
