.drauu-canvas {
  cursor: crosshair;
  touch-action: none;
}

.drauu-app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-xs);

  button {
    border-radius: var(--radius);
    width: 2rem;
    height: 2rem;
    border: 0;
    line-height: 1;

    &.is-active {
      background-color: var(--color-contrast-lowest);
    }

    &:focus {
      background-color: var(--color-contrast-lower);
    }
  }
}
