@use "../abstracts/breakpoints";

a:not([class]),
a.text-underline {
  text-decoration-line: underline;
  text-decoration-color: var(--color-contrast-low);
  text-decoration-skip-ink: auto;

  &:hover {
    text-decoration-color: currentColor;
  }
}

code {
  border-radius: 0.125em;
}

.title {
  font-weight: 700;
}

h2 a.text-underline {
  color: currentColor;
  letter-spacing: 0.025ch;
  text-decoration-color: var(--color-contrast-lower);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

.title.is-intro {
  font-size: var(--text-intro);
  line-height: calc(1ex / 0.5);

  @include breakpoints.media-above(md) {
    line-height: calc(1ex / 0.6);
  }

  // Line height clamped when using both properties in conjunction on Windows:
  // display: inline;
  // background-color: var(--color-background);
}
