.carousel.is-photography {
  .splide__slide {
    height: clamp(35vh, 50vw, 75vh);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .splide__slide__image {
    max-height: 100%;
    object-fit: contain;
  }

  .splide__slide__link {
    border: 1px solid;
  }
}
