.carousel-photography {
  .carousel-image {
    max-height: 100%;
    object-fit: contain;
  }

  .carousel-link {
    width: min(65vw, 25rem);
    border: 1px solid;

    .stretched-link {
      position: unset;
    }
  }
}
