@use "duecss/abstracts/breakpoints";

.grid-masonry {
  &.is-photography {
    --masonry-max-width: clamp(25rem, 25vw, 30rem);
    --masonry-gap: var(--space-m);

    @include breakpoints.media-below(sm) {
      --masonry-gap: var(--space-l);
    }
  }
}
