@use "duecss/abstracts/breakpoints";

.prose-bio {
  h2 {
    font-size: var(--du-text-4xl);
    font-weight: 900;
    line-height: var(--du-line-height-tight);
  }
}

.prose-cv {
  p {
    text-indent: 0;
  }

  h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.125ch;
    margin-top: 3rem !important; // 5xl
  }
}

.drauu-canvas {
  cursor: crosshair;
  touch-action: pinch-zoom;
}

.drauu-app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;

  button {
    width: 2rem;
    height: 2rem;
    padding-top: 0.25em;

    &.is-active {
      border: 1px solid;
    }

    &:hover,
    &:focus {
      background-color: var(--du-color-contrast-lowest);
    }
  }

  select {
    background-color: transparent;
    font-family: var(--du-font-family-heading);
  }

  .drauu-app-divider {
    height: 1.5rem;
    border-left: 1px solid var(--du-color-contrast-lowest);
  }
}
