.project-item {
  position: relative;

  @media (hover: hover) {
    figure {
      box-shadow: 3px 3px 0 var(--du-color-background), 4px 4px 0 transparent;
      transition: box-shadow 100ms linear;
    }

    &:hover figure {
      box-shadow: 3px 3px 0 var(--du-color-background), 4px 4px 0 currentColor;
    }
  }
}
