@layer foundations {
  :root {
    --un-fluid-min-width: 320;
    --un-fluid-max-width: 1140;
    --un-fluid-screen: 100vw;
    --un-fluid-bp: calc(
      (var(--un-fluid-screen) - var(--un-fluid-min-width) / 16 * 1rem) /
        (var(--un-fluid-max-width) - var(--un-fluid-min-width))
    );

    --un-font-family-normal: "Iosevka Aile", monospace;
    --un-font-family-heading:
      "Cooper Hewitt", ui-sans-serif, system-ui, sans-serif;
    --un-line-height-normal: 1.6;
    --un-line-height-heading: 1.25;
    --un-line-height-dense: calc(var(--un-line-height-normal) * 0.875);

    --un-text-scale-ratio: 1.2;
    --un-text-lg: calc(1rem * var(--un-text-scale-ratio));
    --un-text-xl: calc(var(--un-text-lg) * var(--un-text-scale-ratio));
    --un-text-2xl: calc(var(--un-text-xl) * var(--un-text-scale-ratio));
    --un-text-3xl: calc(var(--un-text-2xl) * var(--un-text-scale-ratio));
    --un-text-4xl: calc(var(--un-text-3xl) * var(--un-text-scale-ratio));

    --un-fluid-min-font-size: 16;
    --un-fluid-max-font-size: 18;
    --un-prose-space-y: 1.25rem;

    --un-decoration-thickness: max(1px, 0.1em);
    --un-decoration-offset: max(2px, 0.15em);
    --un-frame-shadow-template: 3px 3px 0 var(--un-color-background), 4px 4px 0;

    --un-color-primary: oklch(65% 0.078 125); /* #849863 */
    --un-color-primary-50: oklch(97% 0.015 118); /* #f4f7ec */
    --un-color-primary-100: oklch(94% 0.022 120); /* #e9eedd */
    --un-color-primary-200: oklch(89% 0.035 122); /* #d7dfc6 */
    --un-color-primary-300: oklch(83% 0.052 123); /* #c1cda8 */
    --un-color-primary-400: oklch(75% 0.068 124); /* #a5b686 */
    --un-color-primary-500: oklch(65% 0.078 125); /* #849863 */
    --un-color-primary-600: oklch(55% 0.07 126); /* #67794b */
    --un-color-primary-700: oklch(46% 0.058 128); /* #4f5e3b */
    --un-color-primary-800: oklch(38% 0.046 130); /* #3a472d */
    --un-color-primary-900: oklch(31% 0.036 131); /* #2a3421 */
    --un-color-primary-950: oklch(21% 0.026 132); /* #141b0e */

    --tw-color-stone-50: oklch(0.985 0.001 106.423);
    --tw-color-stone-100: oklch(0.97 0.001 106.424);
    --tw-color-stone-200: oklch(0.923 0.003 48.717);
    --tw-color-stone-300: oklch(0.869 0.005 56.366);
    --tw-color-stone-400: oklch(0.709 0.01 56.259);
    --tw-color-stone-500: oklch(0.553 0.013 58.071);
    --tw-color-stone-600: oklch(0.444 0.011 73.639);
    --tw-color-stone-700: oklch(0.374 0.01 67.558);
    --tw-color-stone-800: oklch(0.268 0.007 34.298);
    --tw-color-stone-900: oklch(0.216 0.006 56.043);
    --tw-color-stone-950: oklch(0.147 0.004 49.25);
  }

  @media screen and (min-width: 1140px) {
    :root {
      --un-fluid-screen: calc(var(--un-fluid-max-width) * 1px);
    }
  }

  :root:not([data-theme]),
  [data-theme="light"] {
    --un-color-contrast-lowest: var(--tw-color-stone-100);
    --un-color-contrast-lower: var(--tw-color-stone-200);
    --un-color-contrast-low: var(--tw-color-stone-300);
    --un-color-contrast-soft: var(--tw-color-stone-400);
    --un-color-contrast-medium: var(--tw-color-stone-500);
    --un-color-contrast-high: var(--tw-color-stone-800);
    --un-color-contrast-higher: var(--tw-color-stone-900);

    --un-color-background: #fefcf8;
    --un-color-text: var(--un-color-contrast-higher);
    --un-color-border: currentcolor;
    --un-color-link: var(--un-color-text);
    --un-color-link-hover: var(--un-color-primary-500);
  }

  [data-theme="dark"] {
    --un-color-contrast-lowest: var(--tw-color-stone-800);
    --un-color-contrast-lower: var(--tw-color-stone-700);
    --un-color-contrast-low: var(--tw-color-stone-600);
    --un-color-contrast-soft: var(--tw-color-stone-500);
    --un-color-contrast-medium: var(--tw-color-stone-400);
    --un-color-contrast-high: var(--tw-color-stone-100);
    --un-color-contrast-higher: var(--tw-color-stone-50);

    --un-color-background: var(--tw-color-stone-900);
    --un-color-text: white;
    --un-color-border: var(--un-color-contrast-lower);
    --un-color-link: var(--un-color-text);
    --un-color-link-hover: var(--un-color-primary-400);
  }

  [data-theme]:not(:root) {
    color: var(--un-color-text);
    background-color: var(--un-color-background);
  }

  html {
    min-width: calc(1px * var(--un-fluid-min-width));
    font-size: calc(
      ((var(--un-fluid-min-font-size, 16) / 16) * 1rem) +
        (
          var(--un-fluid-max-font-size, 18) - var(--un-fluid-min-font-size, 16)
        ) *
        var(--un-fluid-bp)
    );
    background-color: var(--un-color-background, white);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  body {
    font-family: var(--un-font-family-normal);
    line-height: var(--un-line-height-normal);
    color: var(--un-color-text);
  }

  svg:not([fill]) {
    fill: currentcolor;
  }

  ::selection {
    color: black;
    background: var(--un-color-primary-200);
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  :focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
  }

  a {
    color: var(--un-color-link);
  }

  a:not([class]),
  .link-default {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--un-decoration-color, transparent);
    text-decoration-thickness: var(--un-decoration-thickness);
    text-underline-offset: var(--un-decoration-offset);

    &:hover {
      text-decoration-color: currentcolor;
    }
  }
}
