@use "duecss/abstracts/breakpoints";

a:not([class]),
.text-underline {
  text-decoration-line: underline;
  text-decoration-color: var(--du-color-primary);
  text-decoration-thickness: var(--du-decoration-width);
  text-underline-offset: var(--du-decoration-width);

  &:hover {
    text-decoration-color: currentColor;
  }
}

h2 a.text-underline {
  text-decoration-color: var(--du-color-contrast-lower);
}

[id] {
  scroll-margin-top: 4rem;
}

.medium-zoom-image {
  z-index: 50;
}
