:root {
  // Increase minimum font size for better legibility
  --du-fluid-min-font-size: 17;
  --du-fluid-max-font-size: 19;
  --du-font-family-normal: "Iosevka Aile", ui-sans-serif, system-ui;
  --du-font-family-heading: "Cooper Hewitt", ui-sans-serif, system-ui;
  --du-line-height-heading: 1.25; // calc(1ex / 0.2)
  --du-line-height-heading-tight: 1.05; // calc(1ex / 0.25)

  // Project-specific due variables
  --du-decoration-thickness: max(1px, 0.075em);
  --du-decoration-offset: max(2px, 0.15em);
  --du-shadow-frame: 3px 3px 0 var(--du-color-background),
    4px 4px 0 var(--du-color-border);
}

:root:not([data-theme]),
[data-theme="light"] {
  --du-color-background: #fefcf8;
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary);
  // Project-specific due variables
  --du-color-border: currentColor;

  ::selection {
    color: inherit;
    background: #f0d590;
  }
}

[data-theme="dark"] {
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary);
  // Project-specific due variables
  --du-color-border: var(--du-color-contrast-lower);
}
