:root {
  --h-screen: calc(100 * var(--vh, 1vh));

  --du-font-family-normal: Times, Times New Roman, serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --du-font-family-heading: "Cooper Hewitt", sans-serif;
  --du-line-height-tight: #{"calc(1ex / 0.22)"};

  // Custom due root variables
  --du-shadow-frame: 3px 3px 0 var(--du-color-background),
    4px 4px 0 currentColor;
  --du-decoration-width: max(2px, 0.1em);
}

:root:not([data-theme]),
[data-theme="light"] {
  --du-color-background: #fefcf8;
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-accent);
}

[data-theme="dark"] {
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-accent);
}
