:root {
  --du-fluid-min-font-size: 17;
  --du-fluid-max-font-size: 19;
  --du-font-family-normal: "Spectral", serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --du-font-family-heading: "Cooper Hewitt", sans-serif;
  --du-line-height-heading: 1.05;

  // Project-specific due variables
  --du-decoration-thickness: max(1px, 0.05em);
  --du-decoration-offset: max(2px, 0.15em);
  --du-shadow-frame: 3px 3px 0 var(--du-color-background),
    4px 4px 0 var(--du-color-border);
}

:root:not([data-theme]),
[data-theme="light"] {
  --du-color-background: #fefcf8;
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary);
  // Project-specific due variables
  --du-color-border: currentColor;
}

[data-theme="dark"] {
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary);
  // Project-specific due variables
  --du-color-border: var(--du-color-contrast-lower);
}
