@font-face {
  font-family: "Cooper Hewitt";
  src: url("woff2/CooperHewitt-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("woff2/CooperHewitt-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("woff2/CooperHewitt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("woff2/CooperHewitt-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("woff2/CooperHewitt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("woff2/CooperHewitt-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("woff2/CooperHewitt-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
