@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-named-instance: "Regular";
  src: url("Inter-Roman.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  font-named-instance: "Italic";
  src: url("Inter-Italic.var.woff2") format("woff2");
}
