@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("woff2/IosevkaAile-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("woff2/IosevkaAile-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("woff2/IosevkaAile-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("woff2/IosevkaAile-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("woff2/IosevkaAile-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url("woff2/IosevkaAile-SemiboldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("woff2/IosevkaAile-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Aile";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("woff2/IosevkaAile-BoldItalic.woff2") format("woff2");
}
