@font-face {
  font-family: "Uxum Grotesque";
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url("UxumGrotesque-Regular.woff2") format("woff2")
}

@font-face {
  font-family: "Uxum Grotesque";
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url("UxumGrotesque-Medium.woff2") format("woff2")
}

@font-face {
  font-family: "Uxum Grotesque";
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url("UxumGrotesque-Bold.woff2") format("woff2")
}
